*.swp
*.bak
.DS_Store
node_modules/
rscripts/output*
preprocessing/tests/*-outputs
preprocessing/tests/benchmark-data
preprocessing/geodata/maps/src
preprocessing/data-import/r-data-rdata/*.RData
preprocessing/data-import/r-data-csv/*.csv
preprocessing/data-import/consolidatedCsv.csv
data/data++
tmp
preprocessing/geodata/maps/dist/mou/*.geojson
firebase-functions/geodata/
firebase-functions/static/
firebase-function/firebase-debug.log
.firebase/