*.swp
*.bak
.DS_Store
node_modules/
rscripts/output*
preprocessing/tests/*-outputs
preprocessing/geodata/maps/src
preprocessing/data-import/r-data-rdata/*.RData
preprocessing/data-import/r-data-csv/*.csv
preprocessing/data-import/consolidatedCsv.csv
data/data++
tmp