*, * {
    box-sizing: border-box;
    margin: 0;
}

/* hide speedo numerical value */
.current-value {
    display: none;
}

body.bengali .english {
    display: none;
}

body.english .bengali {
    display: none;
}