html,
body,
section,
svg {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#map-area {
    width: 70%;
    border: thick solid red;
    background: #eee;
    margin: 2rem auto 0;
}

#map-area svg rect {
    fill: skyblue;
}

#map-area svg path {
    fill: lightgreen;
}

#map-area svg path:hover {
    fill: red;
}