/*
  palette for use in the page:
  light-blue: #59c1c2
  dark-blue: #1b3e58
  neutral: #f9f1cc
  text: #212121
  gold: #f4bc42
  red: #e62f35
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Header Styles */
body > header {
  padding: 0 1rem;
  display: grid;
  grid-template:
    "logo     title"    auto
    "lang     lang"     auto
    "subtitle subtitle" auto
    / auto 1fr;
  gap: 1rem;
  align-items: center;
}

body > header > h1 {
  grid-area: title;
}

body > header > h2 {
  grid-area: subtitle;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}

time {
  white-space: nowrap;
}

#logo {
  grid-area: logo;
  height: 3.5rem;
  width: 3.5rem;
}

#lang {
  grid-area: lang;
  justify-self: end;
}

/* Main Content Styles */
section > h2 {
  margin-bottom: 1rem;
}

body {
  background: #fff;
  line-height: 1.5;
  max-width: 40rem;
  margin: 0 auto;
  padding: .5rem;
}

.sideBySide {
  display: flex;
  flex-direction: column-reverse;
}

#depthSection {
  display: grid;
  grid-template:
    "title title"auto "slider feet"auto / 1fr auto;
  column-gap: 1rem;
  align-items: center;
}

#depthSection > h2 {
  grid-area: title;
}

#depthSection > label {
  grid-area: feet;
}

#depthSection > #depth {
  grid-area: slider;
}

main section {
  margin: 1rem 0;
  border: thin solid transparent;
}

#inputs > section {
  border-bottom-color: #1b3e58;
}

#staining > section,
#inputs > section,
#submitSection {
  padding: 0 1rem 1rem;
}

.hint {
  margin-top: 1rem;
}

#result {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 1rem;
  transition: background-color .5s ease;
}

#result:empty::after {
  content: attr(placeholder);
}

#result.safe::before {
  content: '✓';
}

#result.polluted::before {
  content: '!';
}

#result.highlyPolluted::before {
  content: '✖';
}

#result.unsure::before {
  content: '?';
}

#result.loading::before {
  content: '';
  background: #000;
  border-radius: 100%;
  animation: loadingResult 1s ease infinite;
}

#result::before {
  display: block;
  float: left;
  width: 3rem;
  height: 3rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-right: 1rem;
}

@keyframes loadingResult {
  0% {
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
  }
}

#disclaimer {
  padding-bottom: 20rem;
  font-size: .75rem;
}

fieldset {
  /* we don't want the default border for fieldsets */
  border: none;
}

/* Interactive Styles */
.invalid {
  border-color: #e62f35 !important;
  background: #ffd6d8;
}

.hidden {
  display: none;
}

.safe {
  background-color: #78ff78;
}

.polluted {
  background-color: #ffc878;
}

.highlyPolluted {
  background-color: #ff7878;
}

#chevron.flip {
  transform: scale(1, -1);
}

#submit.disabled {
  background: #363636;
}

/* Input Styles */
input,
label,
button {
  font-size: 1rem;
}

select {
  border: thin solid #1b3e58;
  margin-bottom: .5rem;
  padding: .5rem .25rem;
}

select:disabled {
  border-color: #212121;
}

#inputs select {
  width: 100%;
  display: block;
}

#depthOutput {
  display: inline-block;
  width: 3.5rem;
  outline: none;
  text-align: right;
}

#submit {
  background: #1b3e58;
  color: #fff;
  padding: .5rem 1rem;
  cursor: pointer;
}

#depthOutput {
  flex: 1;
  margin-right: .5rem;
}

.radioLabel {
  display: block;
  line-height: 2em;
}

button,
#depthOutput {
  border: thin solid #000;
}

input[type="radio"] {
  display: inline;
  margin-right:.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: inherit;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: #1b3e58;
  border-radius: 3rem;
}

input[type="range"]::-webkit-slider-thumb {
  border: thin solid #000;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -.5rem;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: #1b3e58;
  border-radius: 3rem;
}

input[type="range"]::-moz-range-thumb {
  border: thin solid #000;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin-top: -.5rem;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 2rem 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #1b3e58;
  border-radius: 3rem;
}

input[type="range"]::-ms-fill-upper {
  background: #1b3e58;
  border-radius: 3rem;
}

input[type="range"]::-ms-thumb {
  border: thin solid #000;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin-top: -.5rem;
}

#stainingSection fieldset,
#stainingSection figure {
  flex: 1;
}

#staining figure {
  margin: 1rem 0;
}

figure {
  margin: 0 0 1rem;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

#chevron {
  width: 5rem;
  height: 5rem;
  transition: transform .5s ease-out;
  margin: 1rem auto 0;
  display: block;
  cursor: pointer;
}

@media screen and (min-width: 37.5em) {
  body {
    padding: 1rem;
  }

  body > header {
    grid-template:
    "logo     title    lang"     auto
    "subtitle subtitle subtitle" auto
    / auto 1fr auto;
  }

  .sideBySide {
    justify-content: space-between;
    flex-direction: row;
  }

  #inputs select {
    width: 50%;
  }
}
