html {
  background-color: #fffaf0;
  font-family: Arial;
}

#inputs select {
  display: flex;
  width: 75%;
  border: .06em solid transparent;
  border-radius: 1em;
  background-color: #f2f2f2;
  border-color: #c0c0c0;
  margin-top: 4px;
  margin-bottom: 4px;
}

#depthContainer {
  display: flex;
  flex-direction: row;
  width: 75%;
  align-items: center;
}

#depth {
  flex: 1 1 auto;
}

#depthOutput {
  margin-left: 2ch;
}

/* Hiding of utensil question */
#utensilSection.hidden {
  display: none;
}

#stainingSection {
  width: 75%;
}

#result {
  width: 95%;
}

#logo {
  width: 15vw;
  height: auto;
}

/* ------------------------- Textual ------------------------ */
h1 {
  font-size: 200%;
  display: inline;
}

h2 {
  font-size: 110%;
}

h3 {
  font-size: 75%;
}

#disclaimer {
  font-size: 70%;
}

hr {
  border: none;
  border-top: 3px double #333;
  overflow: visible;
  text-align: center;
  height: 1em;
  max-width: 100%;
}

input,
select {
  border: 0.1em dashed #fffaf0;
}

hr:after {
  background: #fff;
  padding: 0 1em;
  position: relative;
  top: -3em;
}

.stainLink {
  font-size: 65%;
}

.staining>label {
  display: block;
}

.invalid {
  border: 0.1em dashed red !important;
}

/* -----------------------Transistion on Submit --------------------------------------------- */
html {
  scroll-behavior: smooth;
}

.collapsed> :not(#chevron) {
  display: none;
}

.safe {
  background-color: #78ff78;
}

.polluted {
  background-color: #ffc878;
}

.highlyPolluted {
  background-color: #ff7878;
}

#assessment {
  min-height: 100vh;
  box-sizing: border-box;
}

#assessment.collapsed {
  min-height: 0;
}

#result {
  border: 1px solid black;
  padding: .5rem;
}

/*  Chevron*/
#chevron {
  position: relative;
  display: flex;
  justify-content: center;
  height: 9vw;
  transition: opacity .5s ease-out;
}

.chevron {
  transition: transform .5s ease-out;
  position: absolute;
  display: flex;
  justify-content: center;
  height: 9vw;
  transform-origin: center center;
  transform: scale(1, -1);
}

.chevron::before,
.chevron::after {
  position: absolute;
  display: block;
  content: "";
  border: 10vw solid transparent;
  /*adjust size*/
  border-width: 0 10vw 5vw;
}

/*Change the four instances of 'top' below to rotate (top/right/bottom/left)*/
.chevron::before {
  top: 2vw;
  border-top-color: #0b0;
  border-bottom-color: #0b0;
}

.chevron::after {
  top: 4vw;
  border-top-color: #fffaf0;
  border-bottom-color: #fffaf0;
}

.flip .chevron {
  transform: scale(1, 1);
}

/*Depth styling*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: inherit;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  transition: 0.2s;
  background: #b6ccdb;
  border-radius: 1.3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), inset 0 1px 3px rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .3);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #b6ccdb;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  transition: 0.2s;
  background: #b6ccdb;
  border-radius: 1.3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 50px;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), inset 0 1px 3px rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .3);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #b6ccdb;
  border: 0.2px solid #808080;
  border-radius: 2.6px;
  border-radius: 50px;
}

input[type=range]::-ms-fill-upper {
  background: #b6ccdb;
  border: 0.2px solid #808080;
  border-radius: 2.6px;
  border-radius: 50px;
}

input[type=range]::-ms-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15), inset 0 1px 3px rgba(0, 0, 0, .3);
  border: 1px solid rgba(0, 0, 0, .3);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #367ebd;
}

input[type=range]:focus::-ms-fill-upper {
  background: #b6ccdb;
}
