/*
  light-blue: #59c1c2
  dark-blue: #1b3e58
  neutral: #f9f1cc
  text: #212121
  gold: #f4bc42
  red: #e62f35
*/

/* Base Styles */
html,
body,
div,
span,
main,
section,
input,
fieldset,
select,
button,
a,
p,
img,
h1,
h2,
h3 {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #212121;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin: 0 0 1rem;
}

h3 {
  margin: 1rem 0;
}

/* Header Styles */
header {
  padding: 0 1rem;
}

#homeRow,
#logoContainer {
  display: flex;
}

#homeRow {
  margin: 0 0 1rem;
}

#logoContainer img {
  margin: 0 1rem 0 0;
}

/* Container Styles */
.wrapper {
  max-width: 43.75rem;
  margin: 0 auto;
}

.sideBySide {
  display: flex;
}

#depthContainer {
  display: flex;
}

main {
  margin: 2rem 0;
}

main section:not(#inputs) {
  margin: 1rem 0;
  border-top: thin solid transparent;
  border-left: thin solid transparent;
  border-right: thin solid transparent;
}

main section:not(#inputs):not(#utensilSection):not(#assessment) {
  border-bottom: thin solid #1b3e58;
  padding: 0 1rem 1rem;
}

#resultContainer {
  padding: 1rem;
  display: flex;
  align-items: center;
}

#result {
  flex: 1;
  padding: 0.5rem;
}

#resultContainer .placeholder {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem 0 0;
}

#disclaimer {
  padding: 0 0 20rem;
  font-size: .75rem;
}

/* Interactive Styles */
.invalid {
  border-color: #e62f35 !important;
}

select {
  border: thin solid #1b3e58;
  margin: 0 0 0.5rem;
}

select:disabled {
  border-color: #212121;
}

.hidden {
  display: none;
}

.safe {
  background-color: #78ff78;
}

.polluted {
  background-color: #ffc878;
}

.highlyPolluted {
  background-color: #ff7878;
}

.flip {
  transform: scale(1, 1) !important;
}

/* Input Styles */
#inputs select {
  display: block;
}

#depthOutput {
  display: inline-block;
  width: 3.5rem;
  outline: none;
  text-align: right;
  border-bottom: medium solid transparent;
}

#depthOutput:focus {
  border-bottom: medium solid #367ebd;
}

#submit {
  background: #367ebd;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#depthContainer input {
  flex: 1;
  margin: 0 0.5rem 0 0;
}

.radioLabel {
  display: block;
}

.radioLabel:not(:last-of-type) {
  margin: 0 0 0.5rem;
}

input[type="radio"] {
  display: inline;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: inherit;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  transition: 0.2s;
  background: #b6ccdb;
  border-radius: 1.3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #b6ccdb;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  transition: 0.2s;
  background: #b6ccdb;
  border-radius: 1.3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #b6ccdb;
  border: 0.2px solid #808080;
  border-radius: 2.6px;
  border-radius: 50px;
}

input[type="range"]::-ms-fill-upper {
  background: #b6ccdb;
  border: 0.2px solid #808080;
  border-radius: 2.6px;
  border-radius: 50px;
}

input[type="range"]::-ms-thumb {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #367ebd;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #b6ccdb;
}

/* To be changed to image */
.placeholder {
  background: black;
  width: 10rem;
  height: 10rem;
}

/* Chevron Styles */
#chevron {
  width: 5rem;
  height: 5rem;
  transform: scale(1, -1);
  transition: transform 0.5s ease-out;
}

#chevronContainer {
  text-align: center;
  margin: 1rem 0;
}

@media screen and (max-width: 37.49em) {
  #homeRow {
    flex-direction: column;
  }

  #langContainer {
    margin: 1rem 0 0;
    text-align: right;
  }

  #logoContainer img {
    height: 3.5rem;
    width: 3.5rem;
  }

  #inputs select {
    width: 100%;
  }

  .wrapper {
    padding: 0.5rem;
  }

  .sideBySide {
    flex-direction: column-reverse;
  }

  .placeholder,
  .radioLabel {
    margin: 0 0 1rem;
  }
}

@media screen and (min-width: 37.5em) {
  #inputs select {
    width: 50%;
  }

  #homeRow,
  #logoContainer {
    align-items: center;
  }

  #logoContainer img {
    height: 7rem;
    width: 7rem;
  }

  #logoContainer {
    flex: 1;
  }

  .wrapper {
    padding: 1rem;
  }

  .sideBySide {
    justify-content: space-between;
  }
}
