.inputs select {
  display: flex;
  width: 75%;
}

#depthOutput {
  display: block;
  width: 35vw;
}

.utensilHidden {
  display: none;
}

.utensilVisible {
  display: block;
}

/* #mixed:checked~.utensil {
  visibility: visible;
} */
/* ------------------------- Textual ------------------------ */
h1 {}

h2 {
  font-size: 100%;
}

h3 {
  font-size: 75%;
}

.stainLink{
  font-size: 65%;
}
