.inputs select {
  display: flex;
  width: 75%;
}

#depth_output {
  display: block;
  width: 35vw;
}

.utensil_hidden {
  display: none;
}

.utensil_visible {
  display: block;
}

/* #mixed:checked~.utensil {
  visibility: visible;
} */
/* ------------------------- Textual ------------------------ */
h1 {}

h2 {
  font-size: 100%;
}

h3 {
  font-size: 75%;
}

.stain_link {
  font-size: 65%;
}