.leaflet-container {
    height: min(calc(100vh - calc(20 * 1vh)), 80vh);
    width: 95vw;
    outline: 2px solid black;
}

.leaflet-popup-content p {
    margin: 0;
    font-size: 0.8rem;
}

.shift-red {
    outline: '2px solid red';
}


